<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMH9z6qln8A6P2sF9Ck-HSlzvYZHkw0q0</string>
	<key>GCM_SENDER_ID</key>
	<string>934282878778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.signin</string>
	<key>PROJECT_ID</key>
	<string>houseswap-e9720</string>
	<key>STORAGE_BUCKET</key>
	<string>houseswap-e9720.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934282878778:ios:d17052bc903a5ec8473a03</string>
</dict>
</plist>